{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>

            <a {% if user in post.likes.all %} class="likebutton btn btn-success btn-sm" {% else %} class="likebutton btn btn-outline-primary btn-sm" {% endif %} id="like{{ post.id }}" data-href="{{ post.get_api_like_url }}" data-postid="{{ post.id }}">Like</a>

            <a {% if user in post.favorites.all %} class="favoritebutton btn btn-success btn-sm" {% else %} class="favoritebutton btn btn-outline-primary btn-sm" {% endif %} id="favorite{{ post.id }}" data-href="{{ post.get_api_favorite_url }}" data-postid="{{ post.id }}">Favorite</a>




          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}


    <script type="text/javascript">
        $('.likebutton').click(function(){
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")
        var id = this_.attr("data-postid")
        $.ajax(
        {
            type: "GET",
            url: likeUrl,
            data: {},
        success: function(data){
            if (data.liked){
                $( '#like'+ id ).removeClass('btn btn-outline-primary btn-sm');
                $( '#like'+ id ).addClass('btn btn-success btn-sm');
            } else {
                $( '#like'+ id ).removeClass('btn btn-success btn-sm');
                $( '#like'+ id ).addClass('btn btn-outline-primary btn-sm');
            }


        },
        error: function(data){
            window.location.replace({% url 'login' %});
        }
             }
             ) });
    </script>

    <script type="text/javascript">
        $('.favoritebutton').click(function(){
        var this_ = $(this)
        var favoriteUrl = this_.attr("data-href")
        var id = this_.attr("data-postid")
        $.ajax(
        {
            type: "GET",
            url: favoriteUrl,
            data: {},
        success: function(data){
            if (data.favorited){
                $( '#favorite'+ id ).removeClass('btn btn-outline-primary btn-sm');
                $( '#favorite'+ id ).addClass('btn btn-success btn-sm');
            } else {
                $( '#favorite'+ id ).removeClass('btn btn-success btn-sm');
                $( '#favorite'+ id ).addClass('btn btn-outline-primary btn-sm');
            }

        },
        error: function(data){
            window.location.replace({% url 'login' %});
        }
             }
             ) });
    </script>
{% endblock content %}


